{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container">

    <div class="jumbotron">
      <center><img src="./assets/img/npr.png" id="logo" alt="npr-logo"></center>
        </div>
    </div><!-- /jumbotron -->

    <div class="row">
       <div class="col-lg-12">
         <div class="container articles">
           <div id="wrapper">
      <h1>Note Scraper</h1>
      <h2><i>If you can do this...the homework should be no problem.</i></h2>
      <div id="articles">
        {{#each articles }}
        <h1>{{title}}</h1>
        <a>{{link}}</a>
        {{/each}}
      </div>
      <div id="notes"></div>
    </div>
         </div>
       </div>
    </div><!-- /row -->

</div><!-- /container -->