{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<center><img src="./assets/img/npr.png" id="logo" alt="npr-logo"></center>
<div class="row">
  <center><button class="btn-success" id="scrape" >Scrape</button></center>
  <div class="col-lg-12">
    
    <div class="container articles">
      <div id="wrapper">
        <div id="articles">
          {{#each articles }}
          <div class="NPR" data-id="{{_id}}">
            <h1>{{title}}</h1>
            <p>{{summary}}</p>
            <a>{{link}}</a>
          </div>
          {{/each}}
        </div>
        <div id="notes"></div>
      </div>
    </div>
  </div>
</div><!-- /row -->

</div><!-- /container -->